@tailwind base;
@tailwind components;
@tailwind utilities;

/* 
  Note: The styles for this gradient grid background is heavily inspired by the creator of this amazing site (https://dub.sh) – all credits go to them! 
*/

.main {
  height: 100vh;
  width: 100vw;
}

.btn{
  @apply bg-indigo-500 text-white rounded-sm hover:bg-white hover:text-indigo-500 hover:font-semibold px-3 py-1
}